.genres {
    &__item {
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-light;

        & + .genres__item {
            margin-top: 40px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
    }

    &__albums {
        display: grid;
        grid-template-columns: repeat(auto-fill, 190px);
        gap: 55px 30px;
        margin-top: 20px;

        @media screen and (max-width: $xl) {
            grid-template-columns: repeat(auto-fill, 145px);
            gap: 55px 25px;
        }

        @media screen and (max-width: $sm) {
            grid-template-columns: repeat(auto-fill, 125px);
            gap: 35px 20px;
        }
    }
}
