.header {
    display: flex;
    align-items: center;

    &__logo {
        max-width: 100px;
        margin-right: auto;

        &:focus-visible {
            outline: 2px solid $gray;
        }

        @media screen and (max-width: $sm) {
            max-width: 70px;
        }
    }

    &__logo-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__search {
        display: flex;
        align-items: center;
        width: 270px;
        margin-right: 15px;
        padding: 7px 16px;
        border: 1px solid #cccccc;
        border-radius: 200px;
        transition: border-color 0.2s ease-out, width 0.2s linear;

        &--player-opened {
            @media screen and (max-width: $lg) {
                width: 140px;
            }
        }

        &:focus-within {
            border-color: $gray;
        }

        @media screen and (max-width: $md) {
            width: 200px;
        }

        @media screen and (max-width: $sm) {
            width: 140px;
        }
    }

    &__search-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: transparent;
        stroke: #555555;

        @media screen and (max-width: $sm) {
            margin-right: 5px;
        }
    }

    &__search-input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: $gray-light;
        font-size: 1.4rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $gray-light;
        }

        @media screen and (max-width: $sm) {
            font-size: 1.2rem;
        }
    }

    &__avatar {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__avatar-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
