@mixin round-highlight($color) {
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color;
        transition: transform 0.1s ease-out;
    }

    &:focus,
    &:hover {
        &::after {
            transform: translate(-50%, -50%) scale(1);

            @media screen and (max-width: $md) {
                transform: translate(-50%, -50%) scale(0);
            }
        }
    }
}
