.header {
    display: flex;
    align-items: center;

    &__logo {
        max-width: 100px;
        margin-right: auto;
    }

    &__logo-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__search {
        display: flex;
        align-items: center;
        min-width: 270px;
        margin-right: 15px;
        padding: 7px 16px;
        border: 1px solid #cccccc;
        border-radius: 200px;
        transition: border-color 0.2s ease-out;

        &:focus-within {
            border-color: $gray;
        }
    }

    &__search-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: transparent;
        stroke: #555555;
    }

    &__search-input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: $gray-light;
        font-size: 1.4rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $gray-light;
        }
    }

    &__avatar {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__avatar-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
