.player {
    --bg-image: '';
    position: relative;
    flex-basis: 0;
    min-height: 100vh;
    margin: -25px -25px -25px 0;
    padding: 25px 0;
    overflow: hidden;
    transition: flex-basis 0.2s linear;

    &--active {
        flex-basis: 450px;

        .player__hide,
        .player__wrapper {
            visibility: visible;
            transition: visibility 0.1s ease-in 0.3s;
        }
    }

    &__wrapper {
        visibility: hidden;
    }

    &__hide {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        visibility: hidden;
        cursor: pointer;
    }

    &__hide-icon {
        width: 20px;
        height: 20px;
        fill: $yellow;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #321f53 no-repeat center / cover;
        background-image: var(--bg-image);
        filter: blur(30px) brightness(0.45);
        transform: scale(1.5, 1.2);
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 0 25px;
    }

    &__cover-thumbnail {
        width: 64px;
        height: 64px;
        margin-right: 15px;
        border-radius: 8px;
        overflow: hidden;
    }

    &__cover-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__album-title {
        margin-bottom: 3px;
        color: #ffffff;
        font-size: 2.2rem;
        font-weight: 500;
    }

    &__album-artist {
        color: $white-transparent;
        font-size: 1.6rem;
    }

    &__album-genre {
        color: $yellow-transparent;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__progress {
        margin-top: 30px;
        padding: 0 25px;
    }

    &__progress-placeholder {
        img {
            max-width: 100%;
        }
    }

    &__timestamps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white-transparent;
        font-size: 1.2rem;
    }

    &__music-list {
        margin-top: 30px;
        padding: 0 15px;
        list-style-type: none;
    }
}
