.album {
    position: relative;
    cursor: pointer;

    &--active,
    &:hover,
    &:focus-visible {
        .album__active-highlight {
            visibility: visible;
            opacity: 1;
        }

        .album__cover {
            transform: scale(1.01);
        }
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &__cover {
        height: 190px;
        border-radius: 12px;
        overflow: hidden;

        @media screen and (max-width: $xl) {
            height: 145px;
        }

        @media screen and (max-width: $sm) {
            height: 125px;
        }
    }

    &__cover-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__artist {
        color: $gray-light;
        font-size: 1.2rem;
    }

    &__active-highlight {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        display: block;
        width: 110%;
        height: 75%;
        filter: blur(45px);
        transition: all 0.2s ease-out;
    }
}
