.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    &__item {
        display: flex;
        align-items: center;
        max-width: 400px;
        margin: 15px 0;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $gray;
        color: #ffffff;
        font-size: 1.6rem;
        line-height: 2rem;
        user-select: none;
        cursor: pointer;
        transition: opacity 0.7s ease-out;

        &--error {
            background-color: $red;
        }

        &--success {
            background-color: $green;
        }

        @media screen and (max-width: $sm) {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    &__item-icon {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        stroke: #ffffff;
        fill: transparent;

        @media screen and (max-width: $sm) {
            width: 20px;
            height: 20px;
        }
    }
}
