*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    color: $gray;
    font-family: 'PR Root UI', sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a:focus,
button:focus {
    outline: none;
}

main {
    margin-top: 35px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    display: flex;
    padding: 25px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;

    @media screen and (max-width: $lg) {
        padding-right: 0;
    }
}
