$gray: #3a3a3a;
$gray-light: #898989;
$purple: #3a2d88;
$yellow: #ffcd06;
$red: #dc3545;
$green: #198754;

$white-transparent: rgba(255, 255, 255, 0.6);
$gray-light-transparent: rgba(211, 211, 211, 0.6);
$yellow-transparent: rgba(255, 205, 5, 0.6);
