@font-face {
    font-family: 'PR Root UI';
    src: url('./fonts/pt-root-ui-regular.woff2') format('woff2'),
        url('../fonts/pt-root-ui-regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PR Root UI';
    src: url('./fonts/pt-root-ui-medium.woff2') format('woff2'),
        url('../fonts/pt-root-ui-medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
